body {
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Header*/

.container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;

}

.header-container {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}

.info-container {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    position: relative;
}

.info {
    margin-top: 1rem;
    display: flex;
}

.info a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem 4rem;
    border: 1px solid rgb(255, 255, 255);
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

a:hover {
    background-color: floralwhite;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    
}

.h2 {
    padding: 0 112px;
    padding-top: 4em;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

/*Main*/

.main{
    width: 100%;
    height: 100px;
    background-color: #ffffffff;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    
}

.projetos-container{
    color: rgb(0, 0, 0);
}

.projetos-conteudos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    padding-top: 5em;
    padding-bottom: 5em;
}

.projetos-imagens{
    height: 30vh;
    width: 30vw;
    object-fit: cover;
    border-radius: 8px;
}

.text {
    width: 40%;
    letter-spacing: 1px;
    color: 109, 109, 109;
    text-align:justify;
}


/* Footer*/
.footer {
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}